body {
    height: 100vh;
    background-image: url(/public/bg-train.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.ticket {
    h2 {
        color: rgb(215, 74, 74);
        text-align: center;
    }

    border: 1px solid white;
    background-color: rgba(138, 175, 231, 0.74);
    width: 500px;
    padding: 10px;
    border-radius: 50px;
    margin: 20px 0px;

    >div {
        text-align: center;
    }
}

.mx-auto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}